html, body, .App {
  text-align: center;
  min-height: 100vh;
}

.dark {
  background-color: #282c34;
}

.effect {
  font-weight: bolder;
}
.effect:not(.inverted) {
  color: rgb(0, 0, 255);
}
.effect:is(.inverted) {
  color: rgb(0, 0, 100);
}

.damage {
  font-weight: bolder;
}
.damage:not(.inverted) {
  color: black;
}
.damage:is(.inverted) {
  color: slategray;
}