html, body, .App {
  text-align: center;
  min-height: 100vh;
}

.dark {
  background-color: #282c34;
}

.effect {
  font-weight: bolder;
}
.effect:not(.inverted) {
  color: darkblue;
}
.effect:is(.inverted) {
  color: darkcyan;
}

.subeffect {
  font-weight: bolder;
}
.subeffect:not(.inverted) {
  color: darkcyan;
}
.subeffect:is(.inverted) {
  color: #00d4fe;
}

.damage {
  font-weight: bolder;
}
.damage:not(.inverted) {
  color: darkgoldenrod;
}
.damage:is(.inverted) {
  color: goldenrod;
}